* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #fff #22677c;
}

body {
    font-family: sans-serif;
    background-image: url('img/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.layer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
}

.container {
    height: 90%;
    width: 600px;
    background: #ffffffb3;
}

.container h1 {
    text-align: center;
    color: #22677c;
    margin-bottom: 10px;
    margin-top: 10px;
}

.addTodo form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addTodo form input {
    width: 80%;
    height: 25px;
    padding: 5px;
    margin-bottom: 1px;
    background: #ffffffb3;
    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
    border-radius: 3px;
}

.addTodo form input:focus {
    box-shadow: 0px 0px 5px 0px #235a7a;
}

.addTodo form button {
    padding: 3px;
    color: #fff;
    background: #22677c;
    border: 1px solid #22677c;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s;
}

.addTodo form button:hover {
    color: rgba(0, 0, 0, .3);
    background: #235a7a;
    border: 1px solid #235a7a;
}

.todoBox {
    width: 90%;
    max-height: 455px;
    margin: 0 auto;
    margin-top: 15px;
    overflow-y: auto;
}

.ToDo .task {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
    border-bottom: 1px solid gray;
    transition: text-decoration .2s;
}

.ToDo .task i {
    text-align: right;
    cursor: pointer;
}

@keyframes strike {
    from { text-decoration-color: transparent; }
    to { text-decoration-color: auto; }
}
span.strike {  
text-decoration: line-through;
animation: strike .4s linear;
}